
@{
    ViewBag.Title = "放射治疗";
    Layout = "~/Views/Shared/MyLayoutH.cshtml";
}

@section head{
    <script src="~/Scripts/Areas/BreastCancer/BC_Treatment_Radiotherapy/Show.js"></script>
    <script>
    var id = "@ViewBag.id";
    var no = "@ViewBag.no";
    var resident_id = "@ViewBag.resident_id";
    var worker = "@ViewBag.worker";
    var real_name = "@ViewBag.real_name";
    var community_code = "@ViewBag.community_code";
    var type = "@ViewBag.type";
    var departments = "@ViewBag.departments";
    </script>
}

<table class="table table-border table-bordered table-hover">
    <tbody>
        <tr>
            <td style="width:20%">
                <label><input type="radio" id="fl1" name="fl" /> 术前放疗</label>
                <label><input type="radio" id="fl2" name="fl" /> 术后放疗</label>
            </td>
            <td style="width:10%" class="text-r">
                放疗前诊断
            </td>
            <td style="width:70%">
                <input type="text" id="flqzd" name="flqzd" class="input-text radius" style="width:200px;" />
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="text-r">
                靶区
            </td>
            <td style="width:80%" colspan="2">
                <input type="text" id="bq" name="bq" class="input-text radius" style="width:200px;" />
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="text-r">
                射线能量选择及剂量
            </td>
            <td style="width:80%" colspan="2">
                <textarea id="nljlxz" name="nljlxz" style="width:98%" rows="4" class="textarea radius"></textarea>
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="text-r">
                放射治疗的适应证
            </td>
            <td style="width:80%" colspan="2">
                <textarea id="fssyz" name="fssyz" style="width:98%" rows="4" class="textarea radius"></textarea>
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="text-r">
                放射治疗的方法
            </td>
            <td style="width:80%" colspan="2">
                <textarea id="fsff" name="fsff" style="width:98%" rows="4" class="textarea radius"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:right">
                医师<input type="text" id="doctor" name="doctor" style="width:100px;" class="input-text radius" />
                日期<input type="text" id="checkdate" name="checkdate" style="width:100px;" onclick="WdatePicker({ dataFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d', position: { left: -20 }})" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="input-text radius" />
            </td>
        </tr> 
    </tbody>
</table>
