@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>出院小结</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/PCCSC/pccsc.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
     <script src="~/Scripts/MyJs/jquery.autocomplete.js"></script>
    <link href="~/Scripts/MyJs/jqueryAutocomplete/jquery.autocomplete.css" rel="stylesheet" />
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
    <script src="~/Scripts/MyJs/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/Common/matchName.show.js"></script> 
    <script src="~/Scripts/MedicalHistory_DischargeAbstract/Control.js"></script>
    <script src="~/Scripts/MedicalHistory_DischargeAbstract/Update.js"></script>
    <script>
        var id = "@ViewBag.id";
        var no = "@ViewBag.no";
        var resident_id = "@ViewBag.resident_id";
        var worker = "@ViewBag.worker";
        var real_name = "@ViewBag.real_name";
        var community_code = "@ViewBag.community_code";
        var type = "@ViewBag.type";
        var departments = "@ViewBag.departments";
    </script> 
    <style type="text/css">
        body {
            font-size: 12px;
        }

        .auto-style117 {
            background-image: url('/images/admin_bg_1.jpg');
            color: White;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 26px;
        }

        .detailContent {
            background-color: #f1f3f5;
            text-align: left;
            border: 1px white solid;
            height: 20px;
        }

        .auto-style1 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 8%;
            border: 1px white solid;
        }

        .auto-style11 {
            text-align: left;
            height: 25px;
            width: 13%;
            border: 1px solid white;
            padding: 2px;
            background-color: #f1f3f5;
        }

        .auto-style19 {
            text-align: left;
            height: 25px;
            width: 65px;
            border: 1px solid white;
            padding: 2px;
            background-color: #f1f3f5;
        }

        .auto-style27 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 20px;
            width: 10%;
            text-align: left;
            border: 1px white solid;
        }

        .auto-style28 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 20px;
            width: 16%;
            text-align: left;
            border: 1px white solid;
        }

        .auto-style29 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 8%;
            border: 1px white solid;
        }

        .auto-style31 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 20px;
            width: 100px;
            text-align: left;
            border: 1px white solid;
        }

        .auto-style33 {
            text-align: left;
            height: 25px;
            width: 90px;
            border: 1px solid white;
            padding: 2px;
            background-color: #f1f3f5;
        }

        .auto-style36 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 25px;
            text-align: left;
            border: 1px solid white;
        }

        .auto-style37 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 25px;
            text-align: center;
            border: 1px solid white;
        }

        .auto-style123 {
            background-color: #e2ebfb;
            padding: 3px;
            text-align: right;
            height: 25px;
            width: 94px;
            border: 1px solid white;
        }

        .auto-style128 {
            background-color: #e2ebfb;
            padding: 3px;
            text-align: right;
            height: 25px;
            width: 70px;
            border: 1px solid white;
        }

        #values {
            width: 85px;
        }

        .auto-style131 {
            width: 15%;
        }

        .auto-style133 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 9%;
            border: 1px white solid;
        }
    </style>

</head>
<body style="background-color: #efebef;">
    <form id="form1">
        <div style="text-align: center">
            <table   border="1" style="border-collapse: collapse;width:100%" cellpadding="0" cellspacing="1" class="detailTable" id="tab1">
                <tr>
                    <td align="center" colspan="10" class="auto-style117">
                        <a id="titles" style="font-size: 14px;">新增出院小结</a>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">姓名<span style="color: #ff0000">*</span></td>
                    <td class="auto-style27">
                        <input id="name" type="text" name="name" style="padding-top: 2px; width: 100px; height: 14px;" />
                    </td>
                    <td class="auto-style1">性别<span style="color: #ff0000">*</span></td>
                    <td class="auto-style28">
                        <input type="radio" name="sex" value="01" checked="checked" />男
                        <input type="radio" name="sex" value="02" />女
                    </td>
                    <td class="auto-style1">身份证号码<span style="color: #ff0000">*</span></td>
                    <td class="auto-style28">
                        <input type="text" style="padding-top: 2px; width: 137px" id="id_card_number" name="id_card_number" />
                    </td>
                    <td class="auto-style29">出生日期</td>
                    <td class="auto-style33">
                        <input type="text" style="padding-top: 2px; width: 90px" id="birth_date" name="birth_date" readonly="readonly" />

                    </td>
                    <td class="auto-style133">年龄</td>
                    <td class="auto-style19">
                        <input id="age" name="age" style="width: 75px;" type="text" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">常住地址<span style="color: #ff0000">*</span></td>
                    <td colspan="5" class="auto-style37" style="height: 25px">
                        <select style="width: 80px" id="ddlProvince" name="ddlProvince">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 80px" id="ddlCity" name="ddlCity">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 80px" id="ddlCounty" name="ddlCounty">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 85px" id="ddlStreet" name="ddlStreet">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 105px" id="ddlCommunity" name="ddlCommunity">
                            <option value="">=请选择=</option>
                        </select>
                        <input type="text" id="perment_community_address" name="perment_community_address" style="width: 19.5%; height: 14px; padding-top: 2px" />
                    </td>
                    <td class="auto-style1">手机号码</td>
                    <td class="auto-style27" colspan="3">
                        <input type="text" id="phone" style=" width: 90px; height: 14px;" name="phone" />
                    </td>
                </tr>

                <tr>
                    <td class="auto-style1">入院日期</td>
                    <td class="auto-style27">
                        <input type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width: 100px; height: 18px;" id="data" name="data" readonly="readonly" />
                    </td>
                    <td class="auto-style1">收治医院</td>
                    <td class="auto-style28">
                        <input type="text" id="hospital" style="height: 18px; width: 137px" name="hospital" />
                    </td>
                    <td class="auto-style1">收治科室</td>
                    <td class="auto-style28">
                        <select style="width: 142px" id="department" name="department">
                            <option value="">=请选择=</option>
                            <option value="1">内科</option>
                            <option value="2">外科</option>
                            <option value="3">妇产科</option>
                            <option value="4">儿科</option>
                            <option value="5">眼科</option>
                            <option value="6">耳鼻喉科</option>
                            <option value="7">口腔科</option>
                            <option value="8">中医科</option>
                            <option value="9">中医推拿科</option>
                            <option value="10">其他</option>
                        </select>
                    </td>
                    <td class="auto-style29">住院号<span style="color: #ff0000">*</span></td>
                    <td class="auto-style33">
                        <input type="text" id="number" style="height: 18px; width: 90px" name="number" />
                    </td>
                    <td class="auto-style133">床位号<span style="color: #ff0000">*</span></td>
                    <td class="auto-style19">
                        <input type="text" id="bed_number" style="height: 18px; width: 75px" name="bed_number" />
                    </td>
                </tr>

                <tr>
                    <td class="auto-style1">入院诊断</td>
                    <td class="auto-style27">
                        <input type="text" id="rjudge" name="rjudge" style="height: 18px; width: 100px;" placeholder="诊断名称" />
                    </td>
                    <td class="auto-style1">疾病状态</td>
                    <td class="auto-style28">
                        <select style="width: 142px; height: 20px" id="state" name="state">
                            <option value="">==请选择==</option>
                            <option value="稳定期">稳定期</option>
                            <option value="活动期">活动期</option>
                            <option value="复发期">复发期</option>
                            <option value="缓解期">缓解期</option>
                            <option value="根除">根除</option>
                        </select>
                    </td>
                    <td class="auto-style1">发病日期</td>
                    <td class="auto-style28">
                        <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d' })" style="width: 106px; height: 18px;" id="fbrq" name="fbrq" />
                    </td>
                    <td class="auto-style29">确认日期</td>
                    <td class="auto-style33">
                        <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d' })" style="width: 90px; height: 18px;" id="qrrq" name="qrrq" />
                    </td>
                    <td class="auto-style133"><input id="resident_id" name="resident_id" style="width: 75px;display:none" type="text" /></td>
                    <td class="auto-style19"></td>
                </tr>
                <tr>
                    <td class="auto-style1">住院过程</td>
                    <td class="auto-style27">
                        <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '%y-%M-%d %H:%m' })" style="width: 100px; height: 18px;" id="rq" name="rq" placeholder="日期" />
                    </td>
                    <td colspan="8" class="auto-style36">
                        <textarea style="width: 98%" rows="5" id="context" name="context"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">出院日期</td>
                    <td class="auto-style27">
                        <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d' })" style="width: 100px; height: 18px;" id="cyrq" name="cyrq" />
                    </td>
                    <td class="auto-style1">出院诊断</td>
                    <td class="auto-style28">
                        <input type="text" id="cjudge" name="cjudge" style="height: 18px; width: 137px;" placeholder="诊断名称" />
                    </td>
                    <td class="auto-style1">治疗结果</td>
                    <td class="auto-style28">
                        <select style="width: 95px; height: 20px;" id="result" name="result">
                            <option value="">==请选择==</option>
                            <option value="治愈">治愈</option>
                            <option value="好转">好转</option>
                            <option value="无效">无效</option>
                            <option value="未治">未治</option>
                            <option value="死亡">死亡</option>
                            <option value="其他">其他</option>
                        </select>
                    </td>
                    <td class="auto-style29"></td>
                    <td class="auto-style33"></td>
                    <td class="auto-style133"></td>
                    <td class="auto-style19"></td>
                </tr>
                <tr id="Tr1">
                    <td class="auto-style1" rowspan="3" valign="top" style="padding-top: 10px" id="yz">医嘱</td>
                    <td class="auto-style36" colspan="9">
                        1.<textarea id="yz1" name="yz1" style="height: 18px; width: 96%;" placeholder="检查项目"></textarea>
                    </td>
                </tr>
                <tr id="Tr2">
                    <td class="auto-style36" colspan="9">
                        2.<textarea id="yz2" name="yz2" style="height: 18px; width: 96%;" placeholder="检查项目"></textarea>
                    </td>
                </tr>
                <tr id="Tr3">
                    <td class="auto-style36" colspan="9">
                        3.<textarea id="yz3" name="yz3" style="height: 18px; width: 96%;" placeholder="检查项目" onkeyup="add()"></textarea>
                    </td>
                </tr>
                <tr id="last">
                    <td colspan="10" style="height: 25px; padding-top: 3px; border-left: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white">
                        <div style="text-align: center; margin-top: 8px;">
                            <input type="button" style="cursor: pointer; background-image: url(/images/image/4.jpg); border: none; height: 22px; width: 91px;" onclick="save()" />
                            <a style="padding-left: 2em"></a>
                            <input type="button" style="cursor: pointer; background-image: url(/images/image/1.jpg); border: none; height: 22px; width: 91px;" onclick="sure()" />
                            <a style="padding-left: 2em"></a>
                            <input type="button" id="cd" style="cursor: pointer; background-image: url(/images/image/2.jpg); border: none; height: 22px; width: 91px;" onclick="form1.reset()" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
