
@{
    ViewBag.Title = "21基因检测";
    Layout = "~/Views/Shared/MyLayoutH.cshtml";
}
@section head{
    <script src="~/Scripts/Areas/BreastCancer/BC_GenesAndProteomics_21/Show.js"></script>
<script src="~/Scripts/Areas/BreastCancer/BC_GenesAndProteomics_21/Submit.js"></script>
    <script>
        var id = "@ViewBag.id";
        var no = "@ViewBag.no";
        var resident_id = "@ViewBag.resident_id";
        var worker = "@ViewBag.worker";
        var real_name = "@ViewBag.real_name";
        var community_code = "@ViewBag.community_code";
        var type = "@ViewBag.type";
        var departments = "@ViewBag.departments";
    </script>
}

<table class="table table-border table-bordered table-hover" style="margin-top:5px;width:50%;margin-left:25%">
    <thead class="text-c">
        <tr>
            <th style="width:80%" colspan="2">
                21基因名称
            </th>
            <th style="width:20%">
                ct值
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="5" style="text-align:center">
                增殖相关基因
            </td>
            <td>Ki67</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="Ki67" name="Ki67">
            </td>
        </tr>
        <tr>
            <td>STK15</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="STK15" name="STK15">
            </td>
        </tr>
        <tr>
            <td>Survivin</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="Survivin" name="Survivin">
            </td>
        </tr>
        <tr>
            <td>CyclinB1</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="CyclinB1" name="CyclinB1">
            </td>
        </tr>
        <tr>
            <td>MYBL2</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="MYBL2" name="MYBL2">
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="text-align:center">
                侵袭相关基因
            </td>
            <td>Stromolysin 3</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="Stromolysin" name="Stromolysin">
            </td>
        </tr>
        <tr>
            <td>Cathepsin L2</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="Cathepsin" name="Cathepsin">
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="text-align:center">
                HER2相关基因
            </td>
            <td>GBR7</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="GBR7" name="GBR7">
            </td>
        </tr>
        <tr>
            <td>HER2</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="HER2" name="HER2">
            </td>
        </tr>
        <tr>
            <td rowspan="4" style="text-align:center">
                激素相关基因
            </td>
            <td>ER</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="ER" name="ER">
            </td>
        </tr>
        <tr>
            <td>PR</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="PR" name="PR">
            </td>
        </tr>
        <tr>
            <td>BCL 2</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="BCL" name="BCL">
            </td>
        </tr>
        <tr>
            <td>SCUBE 2</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="SCUBE" name="SCUBE">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">GSTM1</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="GSTM1" name="GSTM1">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">CD68</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="CD68" name="CD68">
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">BAG1</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="BAG1" name="BAG1">
            </td>
        </tr>
        <tr>
            <td rowspan="5" style="text-align:center">
                5个参考基因
            </td>
            <td>β-actin</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="actin" name="actin">
            </td>
        </tr>
        <tr>
            <td>GAPDH</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="GAPDH" name="GAPDH">
            </td>
        </tr>
        <tr>
            <td>RPLPO</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="RPLPO" name="RPLPO">
            </td>
        </tr>
        <tr>
            <td>GUS</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="GUS" name="GUS">
            </td>
        </tr>
        <tr>
            <td>TFRC</td>
            <td>
                <input type="text" placeholder="ct值" class="input-text radius size-S" style="width:50px" id="TFRC" name="TFRC">
            </td>
        </tr>
        <tr>
            <td style="text-align:right" colspan="3">
                医师<input type="text" class="input-text radius size-S" style="width:100px" id="doctor" name="doctor">
                日期<input type="text" id="checkdate" name="checkdate" class="input-text radius size-S" style="width:100px" onclick="WdatePicker({ dataFmt: 'yyyy-MM-dd', maxDate: '%y-%M-%d', position: { left: -20 }})" value="@DateTime.Now.ToString("yyyy-MM-dd")">

            </td>

        </tr>
    </tbody>
</table>
<table style="margin-bottom:50px;margin-top:5px;width:50%;margin-left:25%">
    <thead class="text-c">
        <tr>
            <td style="text-align:left">
                <input type="hidden" id="RS" name="RS" />
                <input class="btn btn-primary radius" type="button" value="RS复发评分计算" id="rsbtn">
                得分：<span id="rsscore" style="color:red"></span>
                <div>
                    <textarea id="advice" name="advice" class="textarea radius" style="width:100%" placeholder="建议"></textarea>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-success radius" type="button" value="提交" id="tijiaobtn">
            </td>
        </tr>
    </thead>
</table>
