@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>住院费用</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/PCCSC/pccsc.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <script src="~/Scripts/MyJs/jqueryAutocomplete/jquery.autocomplete.min.js"></script>
    <link href="~/Scripts/MyJs/jqueryAutocomplete/jquery.autocomplete.css" rel="stylesheet" />
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
    <script src="~/Scripts/MyJs/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/Common/matchName.show.js"></script> 
    <script src="~/Scripts/MedicalHistory_HospitalizationExpenses/Control.js"></script>
    <script src="~/Scripts/MedicalHistory_HospitalizationExpenses/Update.js"></script>
    <script>
        var id = "@ViewBag.id";
        var no = "@ViewBag.no";
        var resident_id = "@ViewBag.resident_id";
        var worker = "@ViewBag.worker";
        var real_name = "@ViewBag.real_name";
        var community_code = "@ViewBag.community_code";
        var type = "@ViewBag.type";
        var departments = "@ViewBag.departments";
    </script>
    <style type="text/css">
        body {
            font-size: 12px;
        }

        .auto-style117 {
            background-image: url('/images/admin_bg_1.jpg');
            color: White;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 26px;
        }

        .detailContent {
            background-color: #f1f3f5;
            text-align: left;
            border: 1px white solid;
            height: 20px;
        }

        .auto-style1 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 8%;
            border: 1px white solid;
        }

        .auto-style19 {
            text-align: left;
            height: 25px;
            width: 65px;
            border: 1px solid white;
            padding: 2px;
            background-color: #f1f3f5;
        }

        .auto-style27 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 20px;
            width: 10%;
            text-align: left;
            border: 1px white solid;
        }

        .auto-style28 {
            background-color: #f1f3f5;
            padding: 2px;
            height: 20px;
            width: 16%;
            text-align: left;
            border: 1px white solid;
        }

        .auto-style29 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 8%;
            border: 1px white solid;
        }

        .auto-style33 {
            text-align: left;
            height: 25px;
            width: 90px;
            border: 1px solid white;
            padding: 2px;
            background-color: #f1f3f5;
        }

        #values {
            width: 85px;
        }

        .auto-style133 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 12%;
            border: 1px white solid;
        }

        #payWay {
            width: 142px;
        }

        .auto-style134 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 6%;
            border: 1px white solid;
        }

        .auto-style135 {
            background-color: #e2ebfb;
            padding: 3px;
            color: Black;
            text-align: right;
            height: 25px;
            width: 9%;
            border: 1px white solid;
        }
    </style>
</head>
<body style="background-color: #efebef;">
    <form id="form1">
        <div style="text-align: center">
            <table  border="1" style="border-collapse: collapse;width:100%;" cellpadding="0" cellspacing="1" class="detailTable" id="tab1">
                <tr>
                    <td align="center" colspan="10" class="auto-style117">
                        <a id="titles" style="font-size: 14px;">新增住院费用</a>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">姓名<span style="color: #ff0000">*</span></td>
                    <td class="auto-style27">
                        <input id="name" type="text" name="name" style="padding-top: 2px; width: 100px; height: 14px;" />
                    </td>
                    <td class="auto-style133">性别<span style="color: #ff0000">*</span></td>
                    <td class="auto-style28">
                        <input type="radio" name="sex" value="01" checked="checked" />男
                        <input type="radio" name="sex" value="02" />女
                    </td>
                    <td class="auto-style135">身份证号码<span style="color: #ff0000">*</span></td>
                    <td class="auto-style28">
                        <input type="text" style="padding-top: 2px; width: 137px" id="id_card_number" name="id_card_number" />
                    </td>
                    <td class="auto-style29">出生日期</td>
                    <td class="auto-style33">
                        <input type="text" style="padding-top: 2px; width: 90px" id="birth_date" name="birth_date" readonly="readonly" />

                    </td>
                    <td class="auto-style134">年龄</td>
                    <td class="auto-style19">
                        <input id="age" name="age" style="width: 75px;" type="text" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style29">常住地址<span style="color: #ff0000">*</span></td>
                    <td colspan="5" class="auto-style33" style="height: 25px">
                        <select style="width: 80px" id="ddlProvince" name="ddlProvince">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 80px" id="ddlCity" name="ddlCity">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 80px" id="ddlCounty" name="ddlCounty">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 85px" id="ddlStreet" name="ddlStreet">
                            <option value="">=请选择=</option>
                        </select>
                        <select style="width: 105px" id="ddlCommunity" name="ddlCommunity">
                            <option value="">=请选择=</option>
                        </select>
                        <input type="text" id="perment_community_address" name="perment_community_address" style="width: 19.5%; height: 14px; padding-top: 2px" />
                    </td>
                    <td class="auto-style1">手机号码</td>
                    <td class="auto-style27" colspan="3">
                        <input type="text" id="phone" style=" width: 90px; height: 14px;" name="phone" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">入院日期</td>
                    <td class="auto-style27">
                        <input type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width: 100px; height: 18px;" id="data" name="data" readonly="readonly" />
                    </td>
                    <td class="auto-style133">收治医院</td>
                    <td class="auto-style28">
                        <input type="text" id="hospital" style="height: 18px; width: 137px" name="hospital" />
                    </td>
                    <td class="auto-style135">收治科室</td>
                    <td class="auto-style28">
                        <select style="width:142px" id="department" name="department">
                            <option value="">=请选择=</option>
                            <option value="1">内科</option>
                            <option value="2">外科</option>
                            <option value="3">妇产科</option>
                            <option value="4">儿科</option>
                            <option value="5">眼科</option>
                            <option value="6">耳鼻喉科</option>
                            <option value="7">口腔科</option>
                            <option value="8">中医科</option>
                            <option value="9">中医推拿科</option>
                            <option value="10">其他</option>
                        </select>
                    </td>
                    <td class="auto-style29">住院号<span style="color: #ff0000">*</span></td>
                    <td class="auto-style33">
                        <input type="text" id="number" style="height: 18px; width: 90px" name="number" />
                    </td>
                    <td class="auto-style134">床位号<span style="color: #ff0000">*</span></td>
                    <td class="auto-style19">
                        <input type="text" id="bed_number" style="height: 18px; width: 75px" name="bed_number" />
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1">住院总费用</td>
                    <td class="auto-style27">
                        <input type="text" style="width: 100px; height: 18px;" id="cost" name="cost" />
                    </td>
                    <td class="auto-style133">出院费用付款方式</td>
                    <td class="auto-style28">
                        <select id="payWay" name="payWay">
                            <option value="">==请选择==</option>
                            <option value="社会基本医疗保险">社会基本医疗保险</option>
                            <option value="商业保险">商业保险</option>
                            <option value="自费医疗">自费医疗</option>
                            <option value="公费医疗">公费医疗</option>
                            <option value="大病统筹">大病统筹</option>
                            <option value="其他">其他</option>
                        </select>
                    </td>
                    <td class="auto-style135">自付费用金额</td>
                    <td class="auto-style28">
                        <input type="text" style="width: 137px; height: 18px;" id="payself" name="payself" />
                    </td>
                    <td class="auto-style29"><input id="resident_id" name="resident_id" style="width: 75px;display:none" type="text" /></td>
                    <td class="auto-style33"></td>
                    <td class="auto-style134"></td>
                    <td class="auto-style19"></td>
                </tr>

                <tr id="last">
                    <td colspan="10" style="height: 25px; padding-top: 3px; border-left: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white">
                        <div style="text-align: center; margin-top: 8px;">
                            <input type="button" style="cursor: pointer; background-image: url(/images/image/4.jpg); border: none; height: 22px; width: 91px;" onclick="save()" />
                            <a style="padding-left: 2em"></a>
                            <input type="button" style="cursor: pointer; background-image: url(/images/image/1.jpg); border: none; height: 22px; width: 91px;" id="bt2" onclick="sure()" />
                            <a style="padding-left: 2em"></a>
                            <input type="button" id="cd" style="cursor: pointer; background-image: url(/images/image/2.jpg); border: none; height: 22px; width: 91px;" onclick="form1.reset()" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
